<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-avatar>
         <ion-img src="/assets/cachorro.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>

    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item *ngFor="let c of componentes"
              [routerLink]="c.redirecTo"
              detail="true">
       <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
       {{c.name}}
    </ion-item>
  </ion-list>
  
  <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button href="https://www.facebook.com" target="_blank"><ion-icon name="logo-facebook" ></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
  <!--
  
  <p>HOLA MUNDO</p>

  <ion-button routerLink="/alert">
    Alert
  </ion-button>

  <ion-button routerLink="/action-sheet">
    Action Sheet
  </ion-button>-->


</ion-content>
